<section class="about">
  <div class="container about__container">
    <h2 class="about__title">Обо мне</h2>
    <p class="about__description" itemprop="description">Я HTML-верстальщик, мне 34 года, создаю адаптивно-отзывчивые сайты из макетов Figma, Photoshop. Имею большой опыт работы с векторными иконками, хорошо владею Affinity Designer(векторный редактор), Affinity Photo(растровый редактор). Если в макете используются растровые иконки, логотипы я перерисовываю их в svg-формат.</p>
    <p class="about__description">В дальнейших планах хочу изучить Wordpress и веб-дизайн.</p>
    <h3 class="about__subtitle">Профессиональные навыки</h3>
    <ul class="about__list about-list">
      <li class="about-list__item">
        <svg class="about-list__icon" width="48" height="48" aria-label="Инструменты и технологии HTML">
          <use xlink:href="img/sprite.svg#html"></use>
        </svg>
        <p class="about-list__text">чистый HTML, Pug</p>
      </li>
      <li class="about-list__item">
        <svg class="about-list__icon" width="48" height="48" aria-label="Инструменты и технологии CSS">
          <use xlink:href="img/sprite.svg#css"></use>
        </svg>
        <p class="about-list__text">чистый CSS, SCSS, TailwindCSS</p>
      </li>
      <li class="about-list__item">
        <svg class="about-list__icon" width="48" height="48" aria-label="Инструменты и технологии JavaScript">
          <use xlink:href="img/sprite.svg#js"></use>
        </svg>
        <p class="about-list__text">ванильный JS(ES5, ES6), Babel</p>
      </li>
      <li class="about-list__item">
        <svg class="about-list__icon" width="48" height="48" aria-label="Инструменты">
          <use xlink:href="img/sprite.svg#tools"></use>
        </svg>
        <p class="about-list__text">Gulp, VSCode, Github, npm</p>
      </li>
      <li class="about-list__item">
        <svg class="about-list__icon" width="48" height="48" aria-label="Графические редакторы">
          <use xlink:href="img/sprite.svg#pen"></use>
        </svg>
        <p class="about-list__text">Figma, Photoshop, Affinity Designer, Affinity Photo</p>
      </li>
    </ul>
  </div>
</section>