<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{{ siteBaseurl }}">
    <title>{{ siteTitle }}</title>
    {% include "favicon.njk" %}
    {% include "web-search.njk" %}
    {% include "seo-tags.njk" %}
    {% include "deleteCookies.njk" %}
    {% include "darkThemeFOUCfix.njk" %}

    <link rel="canonical" href="{{ siteUrl }}/">
    <link rel="stylesheet" href="css/baguetteBox.min.css">
    <link rel="stylesheet" href="css/splide.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
  </head>