<section class="certificates">
  <div class="container certificates__container">
    <h2 class="certificates__title">Сертификаты</h2>
    <div class="gallery gallery-certificates">
      <a class="gallery-certificates__item" href="img/animation-css-js-big.jpg" data-caption="Сертификат об окончании курса 'Мастер анимаций CSS, JS от HTML-Academy'">
        <img loading="lazy" src="img/animation-css-js-thumb.jpg" width="436" height="244" alt="Сертификат об окончании курса 'Мастер анимаций от HTML-Academy'">
      </a>
      <a class="gallery-certificates__item" href="img/projects-on-html-css-js-big.jpg" data-caption="Сертификат об окончании курса '50 проектов за 50 дней от Brad Traversy и Florin Pop'">
        <img loading="lazy" src="img/projects-on-html-css-js-thumb.jpg" width="436" height="244" alt="Сертификат об окончании курса '50 проектов за 50 дней от Brad Traversy и Florin Pop'">
      </a>
    </div>
  </div>
</section>