<script>
  window.addEventListener('load', function () {
  window.cookieconsent.initialise({
    revokeBtn: "<div class='cc-revoke'></div>",
    type: "opt-in",
    theme: "classic",
    palette: {
      popup: {
        background: "#eee",
        text: "#667085"
      },
      button: {
        background: "#1a92ca",
        text: "#fff"
      }
    },
    content: {
      link: "Политика Cookie",
      href: "https://sezak.ru/policy"
    },
    onInitialise: function onInitialise(status) {
      if (status == cookieconsent.status.allow) myScripts();
    },
    onStatusChange: function onStatusChange(status) {
      if (this.hasConsented()) myScripts();
    }
  });
  });

  function myScripts() {
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(93403533, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
  }
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/93403533" style="position:absolute; left:-9999px;" alt="" /></div></noscript>