<section class="services">
  <div class="container services__container">
    <h2 class="services__title">Услуги</h2>
    <ul class="services__list">
      <li class="services__item">
        <svg class="services__icon" width="44" height="44" aria-hidden="true">
          <use xlink:href="img/sprite.svg#vector-ic"></use>
        </svg>
        <p class="services__text">Отрисовка растровых иконок и логотипов в векторный формат</p>
      </li>
      <li class="services__item">
        <svg class="services__icon" width="44" height="44" aria-hidden="true">
          <use xlink:href="img/sprite.svg#correction-ic"></use>
        </svg>
        <p class="services__text">Исправление верстки сайта(правка блоков, шрифтов, изображений и т.д.)</p>
      </li>
      <li class="services__item">
        <svg class="services__icon" width="44" height="44" aria-hidden="true">
          <use xlink:href="img/sprite.svg#new-section-ic"></use>
        </svg>
        <p class="services__text">Верстка дополнительного блока(секции)</p>
      </li>
      <li class="services__item">
        <svg class="services__icon" width="44" height="44" aria-hidden="true">
          <use xlink:href="img/sprite.svg#animation-ic"></use>
        </svg>
        <p class="services__text">Добавление анимации по скроллу страницы</p>
      </li>
      <li class="services__item">
        <svg class="services__icon" width="44" height="44" aria-hidden="true">
          <use xlink:href="img/sprite.svg#favicon-ic"></use>
        </svg>
        <p class="services__text">Создание и подключение Favicon</p>
      </li>
      <li class="services__item">
        <svg class="services__icon" width="44" height="44" aria-hidden="true">
          <use xlink:href="img/sprite.svg#comments-ic"></use>
        </svg>
        <p class="services__text">Установка комментариев Вконтакте</p>
      </li>
      <li class="services__item">
        <svg class="services__icon" width="44" height="44" aria-hidden="true">
          <use xlink:href="img/sprite.svg#form-ic"></use>
        </svg>
        <p class="services__text">Отправка заявки с формы обратной связи в Телеграм</p>
      </li>
      <li class="services__item">
        <svg class="services__icon" width="44" height="44" aria-hidden="true">
          <use xlink:href="img/sprite.svg#plugin-ic"></use>
        </svg>
        <p class="services__text">Установка необходимых плагинов(слайдеров, аккордеонов, табов и т.д.)</p>
      </li>
      <li class="services__item">
        <svg class="services__icon" width="44" height="44" aria-hidden="true">
          <use xlink:href="img/sprite.svg#compress-ic"></use>
        </svg>
        <p class="services__text">Пакетная оптимизация(сжатие) изображений для ускорения загрузки</p>
      </li>
      <li class="services__item">
        <svg class="services__icon" width="44" height="44" aria-hidden="true">
          <use xlink:href="img/sprite.svg#adaptive-ic"></use>
        </svg>
        <p class="services__text">Адаптивная верстка по макету</p>
      </li>
    </ul>
  </div>
</section>