<div class="full-article__share share">
  <p class="share__text">Сохранить в:</p>
  <ul class="share__list">
    <li class="share__item">
      <a class="share__link" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&utm_source=share2" rel="nofollow noopener" target="_blank" title="Сохранить в X">
        <svg class="share__icon" width="20" height="18">
          <use xlink:href="img/sprite.svg#x-social-ic"></use>
        </svg>
      </a>
    </li>
    <li class="share__item">
      <a class="share__link" href="https://vk.com/share.php?url={{ site.url }}{{ page.url }}&title={{ page.title }}&utm_source=share2" rel="nofollow noopener" target="_blank" title="Сохранить в Вконтакте">
        <svg class="share__icon" width="22" height="15">
          <use xlink:href="img/sprite.svg#vk-social-ic"></use>
        </svg>
      </a>
    </li>
    <li class="share__item">
      <a class="share__link" href="https://t.me/share/url?url={{ site.url }}{{ page.url }}&text={{ page.title }}&utm_source=share2" rel="nofollow noopener" target="_blank" title="Сохранить в Телеграм">
        <svg class="share__icon" width="22" height="22">
          <use xlink:href="img/sprite.svg#tg-social-ic"></use>
        </svg>
      </a>
    </li>
    <li class="share__item">
      <a class="share__link" href="https://connect.ok.ru/offer?url={{ site.url }}{{ page.url }}&title={{ page.title }}&utm_source=share2" rel="nofollow noopener" target="_blank" title="Сохранить в Одноклассниках">
        <svg class="share__icon" width="16" height="23">
          <use xlink:href="img/sprite.svg#ok-social-ic"></use>
        </svg>
      </a>
    </li>
    <li class="share__item">
      <a class="share__link" href="https://connect.mail.ru/share?url={{ site.url }}{{ page.url }}&title={{ page.title }}&utm_source=share2" rel="nofollow noopener" target="_blank" title="Сохранить в Мой Мир">
        <svg class="share__icon" width="26" height="17">
          <use xlink:href="img/sprite.svg#mm-social-ic"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>