<ul class="socials socials--about-section">
  <li class="socials__item">
    <a class="socials__link" href="{{ site.socials.telegram }}" rel="nofollow noopener" target="_blank" title="Я в Телеграм">
      <svg class="socials__icon" width="22" height="22">
        <use xlink:href="img/sprite.svg#telegram-ic"></use>
      </svg>
    </a>
  </li>
  <li class="socials__item">
    <a class="socials__link" href="{{ site.socials.vk }}" rel="nofollow noopener" target="_blank" title="Я в Вконтакте">
      <svg class="socials__icon" width="22" height="22">
        <use xlink:href="img/sprite.svg#vk-ic"></use>
      </svg>
    </a>
  </li>
  <li class="socials__item">
    <a class="socials__link" href="{{ site.socials.github }}" rel="nofollow noopener" target="_blank" title="Я в Github">
      <svg class="socials__icon" width="22" height="22">
        <use xlink:href="img/sprite.svg#github-ic"></use>
      </svg>
    </a>
  </li>
  <li class="socials__item">
    <a class="socials__link" href="{{ site.socials.email }}" title="Написать мне электронное письмо">
      <svg class="socials__icon" width="22" height="22">
        <use xlink:href="img/sprite.svg#email-ic"></use>
      </svg>
    </a>
  </li>
</ul>