<div class="splide__slide technology-slider__slide" title="BEM">
  <svg class="technology-slider__icon" width="70" height="70">
    <use xlink:href="img/sprite.svg#bem-ic"></use>
  </svg>
</div>
<div class="splide__slide technology-slider__slide" title="Gulp">
  <svg class="technology-slider__icon" width="70" height="70">
    <use xlink:href="img/sprite.svg#gulp-ic"></use>
  </svg>
</div>
<div class="splide__slide technology-slider__slide" title="JavaScript">
  <svg class="technology-slider__icon" width="70" height="70">
    <use xlink:href="img/sprite.svg#js-ic"></use>
  </svg>
</div>
<div class="splide__slide technology-slider__slide" title="PUG">
  <svg class="technology-slider__icon" width="70" height="70">
    <use xlink:href="img/sprite.svg#pug-ic"></use>
  </svg>
</div>
<div class="splide__slide technology-slider__slide" title="Tailwind CSS">
  <svg class="technology-slider__icon" width="70" height="70">
    <use xlink:href="img/sprite.svg#tailwind-ic"></use>
  </svg>
</div>
<div class="splide__slide technology-slider__slide" title="SASS">
  <svg class="technology-slider__icon" width="70" height="70">
    <use xlink:href="img/sprite.svg#sass-ic"></use>
  </svg>
</div>
<div class="splide__slide technology-slider__slide" title="Stylelint">
  <svg class="technology-slider__icon" width="70" height="70">
    <use xlink:href="img/sprite.svg#stylelint-ic"></use>
  </svg>
</div>
<div class="splide__slide technology-slider__slide" title="SVG">
  <svg class="technology-slider__icon" width="70" height="70">
    <use xlink:href="img/sprite.svg#svg-ic"></use>
  </svg>
</div>