<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{{ site.baseurl }}">
    {% if page.url contains "/pages/" %}
    <title>{{ page.title }} - Страница {{ paginator.page }} | {{ site.title }}</title>
    {% else %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% endif %}
    {% include /favicon.html %}
    {% include /web-search.html %}
    {% include /seo-tags.html %}
    {% include /metrika.html %}
    <meta name="google-site-verification" content="YXRYU27nMluAhepsKBjKjy3SSCwFspOWlm4imLtpuiM" />
    <meta name="yandex-verification" content="c0984db1dbcd9786" />
    <link rel="stylesheet" href="css/cookieconsent.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
  </head>