<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include /favicon.html %}
    {% include /web-search.html %}
    <title>{{ page.title }}</title>
    {% include /seo-tags.html %}
    <meta name="google-site-verification" content="YXRYU27nMluAhepsKBjKjy3SSCwFspOWlm4imLtpuiM" />
    <meta name="yandex-verification" content="c0984db1dbcd9786" />
    {% if page.code %}
    <link rel="stylesheet" href="/css/highlight.min.css">
    {% endif %}
    {% if site.metrika %}
    <link rel="stylesheet" href="/css/cookieconsent.css">
    {% endif %}
    {% if page.slider %}
    <link rel="stylesheet" href="/css/splide.min.css">
    {% endif %}
    <link rel="stylesheet" href="/css/styles.min.css">
  </head>