{% include /top-index.html %}
  <body>
    {% include /header.html %}
    <main class="main" itemscope itemtype="http://schema.org/Person">
      <h1 class="visually-hidden"><span itemprop="name">Сергей Закиров</span> - <span itemprop="jobTitle">Верстальщик сайтов</span></h1>
      <section class="hero">
        <div class="container hero__container">
          <div class="hero__content">
            <h2 class="visually-hidden">Кто я</h2>
            <meta itemprop="url" content="https://sezak.ru">
            <img class="hero__image" src="img/avatar.svg" width="142" height="142" alt="Аватар Сергея">
            <meta itemprop="image" content="{{ site.url }}/img/avatar.svg">
            <p class="hero__heading">Здравствуйте! Меня зовут Сергей, я занимаюсь версткой сайтов</p>
            <p class="hero__description">Здесь вы можете ознакомиться с моими работами и связаться со мной.</p>
            <div class="hero__buttons">
              <a class="button" href="/projects/">Портфолио</a>
              <a class="button button--secondary" href="#contacts">Контакты</a></div>
          </div>
        </div>
      </section>
{% include /about.html %}
      <section class="post">
        <div class="container post__container">
          <h2 class="post__title">Последние работы</h2>
          <div class="post__list">
            {% for post in site.categories.projects limit: 2 offset: 0 %}
            {% include /small-post.html %}
            {% endfor %}
          </div>
          <div class="post__button">
            <a class="button" href="/projects/" title="Все работы">Все работы</a>
          </div>
        </div>
      </section>
      <section class="technology">
        <h2 class="visually-hidden">Технологие используемые мной в работе</h2>
        <div class="container technology__container">
          <div class="splide technology__slider technology-slider">
            <div class="splide__track technology-slider__wrapper">
              <ul class="splide__list">
                {% include /technology-slides.html %}
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="post">
        <div class="container post__container">
          <h2 class="post__title">Блог</h2>
          <div class="post__list">
            {% for post in site.categories.blog limit: 2 offset: 0 %}
            {% include /small-post.html %}
            {% endfor %}
          </div>
          <div class="post__button">
            <a class="button" href="/blog/" title="Все статьи">Все статьи</a>
          </div>
        </div>
      </section>
{% include /contacts.html %}
    </main>
    {% include /footer.html %}
    <script src="js/splide.min.js" defer></script>
    <script src="js/splide-extension-auto-scroll.min.js" defer></script>
    <script src="js/cookieconsent.min.js" data-cfasync="false"></script>
    <script src="js/script.min.js" defer></script>
  </body>
</html>