{% include /top-index.html %}
  <body>
    {% include /header.html %}
    <main class="main">
      <h1 class="visually-hidden">Сергей Закиров - верстальщик сайтов</h1>
      <section class="hero">
        <div class="container hero__container">
          <div class="hero__content">
            <h2 class="visually-hidden">Кто я</h2>
            <img class="hero__image" src="img/avatar.svg" width="142" height="142" alt="Аватар Сергея">
            <p class="hero__heading">Здравствуйте! Меня зовут Сергей, я занимаюсь версткой сайтов</p>
            <p class="hero__description">Здесь вы можете ознакомиться с моими работами и связаться со мной.</p>
            <div class="hero__buttons">
              <a class="button" href="/projects/">Портфолио</a>
              <a class="button button--secondary" href="#contacts">Контакты</a></div>
          </div>
        </div>
      </section>
{% include /about.html %}
      <section class="portfolio">
        <div class="container portfolio__container">
          <h2 class="portfolio__title">Последние работы</h2>
          <div class="portfolio__list">
            {% for post in site.posts limit: 2 offset: 0 %}
            {% include /small-post.html %}
            {% endfor %}
          </div>
          <div class="portfolio__button">
            <a class="button" href="/projects" title="Все работы">Все работы</a>
          </div>
        </div>
      </section>
      <section class="technology">
        <h2 class="visually-hidden">Технологие используемые мной в работе</h2>
        <div class="container technology__container">
          <div class="splide technology__slider technology-slider">
            <div class="splide__track technology-slider__wrapper">
              <ul class="splide__list">
                {% include /technology-slides.html %}
              </ul>
            </div>
          </div>
        </div>
      </section>
{% include /contacts.html %}
    </main>
    {% include /footer.html %}
    <script src="js/splide.min.js" defer></script>
    <script src="js/splide-extension-auto-scroll.min.js" defer></script>
    <script src="js/cookieconsent.min.js" data-cfasync="false"></script>
    <script src="js/script.min.js" defer></script>
  </body>
</html>