{% include /top-catalog.html %}
  <body>
    {% include /metrika.html %}
    {% include /header.html %}
    <main class="main">
      <section class="post post--page">
        <div class="container post__container">
          <h1 class="post__title">Последние работы</h1>
          <div class="post__list">
            {% for post in paginator.posts %}
            {% include /small-post.html %}
            {% endfor %}
          </div>
          {% include /pagination.html %}
        </div>
      </section>
    </main>
    {% include /footer.html %}
    <script src="js/cookieconsent.umd.js"></script>
    <script src="js/cookieconsent-config.js" type="module"></script>
    <script src="js/script.min.js"></script>
  </body>
</html>